.button-container {
  position: fixed;
  width: 100%;
  height: 59px;
  top: 0;
  left: 0;
  background: black;
  text-align: center;
}

#modifyButton {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.publish-button {
  width: 216px;
  height: 38px;
  background: white;
  color: black;
  margin: 11px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Work Sans';
  font-weight: 500;
}

#modifyButtonIntro {
  margin: 0 60px;
  background: transparent;
  border: none;
}

#titleGallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  padding-left: 100px;
}

#openModal {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  padding-bottom: 22px;
}