.edit-mode {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
  display: none;
}
.placeholder-button:disabled {
  font-family: work sans;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
}
.publish-changes {
  font-family: work sans;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.publish-changes:active {
  background-color: green;
  transform: scale(0.9);
}
.modify-description-image{
  font-size: 14px;
  background-color: transparent;
  border: none;
  margin: 10px 0 0 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
}
.modify-description-image:hover{
  color: #B1663C;
}
.modify-description-image:active{
  transform: scale(0.9);
}
.edit-mode-project{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  /* padding-left: 100px; */
  gap: 20px;
}
.open-project-modal{
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding-bottom: 25px;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
}
.open-project-modal:hover{
  color: #B1663C;
}
.open-project-modal:active{
  transform: scale(0.9);
}
